{
    auto_https off
    admin off
}

:80 {
    encode zstd gzip

    @webhook host webhook.{$DOMAIN}
    handle @webhook {
        reverse_proxy webhook:9000
    }

    # Unmatch fallback
    handle {
        respond "Not Found" 404
    }
}
